body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
   }
   
   .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 1px;
    border: 1px solid #ccc;
   }
   
   .day {
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    text-align: center;
   }
   
   .today {
    background-color: #ffebee;
   }